.jumbotron {
    width:100%;
    text-align: center;
    margin: 40px 0px;
}

/*Get rid of the href cursor to make the link less obvious. Link still exists to credit creators of art/font*/
.jumbotron img:hover {
    cursor: auto;
}

body{
    background-color: rgb(230, 231, 182);
    font-size: 1.5em;
}

#chooseTeams {
    margin: 100px 0px;
}

#chooseTeamsText {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
}

#numPokemon {
    height: 50px;
    width: 50px;
    margin-left: 20px;
    text-align: center;
    font-size: 1.5em;
}

#makeTeams {
    background-color: red;
    color: white;
    text-shadow: 2px 2px rgb(80, 17, 13);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding: 10px 20px;
    margin-left: 40px;
    display: block;
    margin: 30px auto;
}

#gameText{
    color:black;
}

#makeTeams:hover,
.battle-btn:hover {
    background-color: rgb(67, 107, 182);
}

.inline-block {
    display: inline-block;
    padding: 10px 30px;
}

#container1{
    text-align: center;
    width: 100%;
}

.hidden {
    display: none;
}

.battle-btn {
    font-size: 200%;
    background-color: red;
    color: white;
    text-shadow: 2px 2px rgb(80, 17, 13);
}


.progress {
    width: 400px;
    padding: 2px;
    margin: 50px auto;
    border: 3px solid #05e35e;
    height: 35px;
}

.progress .progressBar {
    height: 100%;
    width: 100%;
    background-color: #05e35e;
}

/*Use on pictures of pokemon when making the teams*/
.fade-in {
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

#container2{
  background-image: url('../images/grassfeild.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed  ;
  background-size: cover;
}

  /* Overlay color on the fainted pokemon */

.userHpOverlay {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: .5;
}

.compHpOverlay {
    position: relative;
}



